
.wrapper-footer{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-intro{
    display: flex;
    width: 75%;
    justify-content: center
}
.wrapper-intro{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.intro{
    width: 50%;
    margin: 30px;
}
.schedule{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-about{
    background-color: rgb(17, 93, 157);
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding-top: 40px;
}
.container-about{
    display: flex;  
    width: 75%;
}
.content-about-hospital, .content-about-contact{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.content-about-link{
    display: flex;
    width: 15%;
}
.content-about-hospital{
    width: 30%;
}
.content-about-contact{
    width: 55%;
}
.container-about{
    color: white;
}
.title-footer{
    font-size: 20px;
    font-weight: bold;
}
.icon-footer{
   width: 20px;
   height: 20px;
   margin-right: 20px;
}