.wrapper-header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: white;
}
.inner-header{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 50px;
    margin: 10px;
}

input{
   width: 450px;
   height: 30px;
   margin-right: 10px;
   border: none;
}
.search input:focus{
    border:0,1px;
}
.search{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.search img {
    width: 20px;
    height: 20px;
    
}
.btn {
    background-color: rgb(17, 93, 157);
    border: none;
    color: white;
    margin: 10px;

}
.btn:hover{
    background-color: rgb(22, 120, 203);
    color: white;
}
.btn-search{
    background-color: white;
    border: none;
}
.tab{
    margin: 20px;
}
.btnavatar{
    background-color: orange;
    border-radius: 100px;
    align-items: center;
    align-content: center;
    height: 40px;
    width: 40px;
    border: 1px white solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar{
    color: white;
    padding-bottom: 1px;
    width: 24px;
    height: 24px;
}
.off{
    display: none;
}

