.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    display: block;  
}
.form_content{
    flex:1;
    margin-left: 10px;
}

.container{
display: flex;
}
.Logo{
    flex:1;
    display: flex;
}
    input[type=text], input[type=tel], input[type=date], input[type=time], textarea  {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* .Id{
    display:none;
} */
 .error{
    color: red;
 }
 .Notify{
    color: green;
 }
input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
input[type=submit]:hover {
    background-color: #45a049;
}


 .Slider{

    display:block;
    width: 90%;
    margin-left: 0px;
    justify-content: center;
}
h2, h1 {
    color: rgb(33, 177, 226);
}
.ImgLogo{
    text-align: center;
    display:block;
    margin-bottom: 20px;
}