*{
	list-style: none;
	text-decoration: none;
}

.sidebar{
	background-color: #003464;
	color: white;
	font-size: 15px;
	line-height: 67px;
	width: 21%;
	height: 350px;
	margin-left: 0.5%;
	margin-right: 0.7%;
	/* position: relative;
	left: 1%; */
	border-radius: 0px 16px 16px 0px;
	box-shadow: 3px 7px 10px #828282;
	float: left;
}

.sidebar ul a{
	display: block;	
	transition: 0.2s;
}

.sidebar ul a i{
	margin-right: 15px;
}

.sidebar .fa {
	font-size: 25px;
}

.nowPage{
	font-size: 18px;
	padding-left: 4px;
	color:rgb(0, 255, 225);
	text-decoration: none;
}

ul li:hover a{
	font-size: 18px;
	padding-left: 4px;
	color:rgb(0, 255, 225);
	text-decoration: none;
}
